/* se1 */
#tittle{
    background-color: #456268;
}
.navbar-brand{
    font-weight: bold;
    font-size: 2.5 rem;
    font-family: cursive;
}
h1{
    color: 456268;
}
#div1{
    padding: .5rem .5rem .5rem 2rem; 
}
.nav-item{
    padding: 0 2rem;
}
/*sec2*/
.card-img-top{
    height: 12rem;
    width: 18rem;
}
.card{
    margin-right: 10.5rem;
}
.card-body{
    background-color: #fcf8ec;
}
.main-title{
    padding: 8rem 0 8rem 8rem;
    font-family: Montserrat;
    color: #456268;
    font-size: 1.3rem;
    font-size: 2rem;
}
#top-card{
    width: 30%;
}
#webInfo{
    width: 67%;
}
#secondrow{
    margin-left: 7rem;
    padding: 2rem 0 4rem 0;
}
#firstrow{
    padding-top: 3rem;
}